.footer {
	background-color: var(--primary-light);
	padding: 0em 1em;
	min-height: 32px;
	line-height: 32px;
	box-sizing: border-box;
}

.footer .footer-album {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.footer .footer-album-info {
	display: flex;
	margin-left: 1em;
}

.footer .footer-album-title {
	font-size: var(--small-text);
	margin: 0;
	font-weight: 400;
}

.footer .footer-album-span {
	font-weight: bold;
	margin: 0;
	margin-right: 0.6em;
}
