.footer {
	background-color: var(--primary-light);
	padding: 0.5em 1em;
	display: flex;
	justify-content: flex-end;
	min-height: 30px;
	box-sizing: border-box;
}

.footer .footer-album {
	display: flex;
}

.footer .footer-album-title {
	font-size: var(--small-text);
	margin: 0;
	font-weight: 400;
}

.footer .footer-album-span {
	font-weight: bold;
	margin: 0;
	margin-right: 0.6em;
}
