.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
}

.modal .modal-content {
	flex: 1;
	margin: auto;
	min-height: 30vh;
	max-width: 60vw;
	background-color: var(--white-color);
	border: 2px solid var(--primary-dark);
	box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
}
