.film-info-modal ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 1em;
	margin: 0;
}

.film-info-modal-item {
	flex: 1 0 40%;
	flex-wrap: wrap;
	padding: 1em;
}

.film-info-modal button {
	display: block;
	margin: 1em auto 2em auto;
}
