.form {
	padding: 0 2em;
}

.form-inputs {
	display: flex;
	flex-direction: column;
	align-self: stretch;
}

.form-inputs > * {
	margin: 0.5em 0;
	overflow: hidden;
}

.form .form-error {
	display: block;
	margin: 1em auto;
	background: var(--error-color);
	color: var(--white-color);
	align-self: center;
	width: fit-content;
	padding: 0.7em;
	border-radius: 2px;
	text-align: justify;
	width: inherit;
}

.form .form-buttons {
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	padding: 2em;
}
