.film-detail-header {
	border-bottom: 2px solid var(--primary-light);
}

.film-detail-header-title {
	padding: 1em;
	margin: 0;
	color: var(--black-color);
	font-weight: normal;
}

.film-detail-header-title > span {
	font-weight: bold;
	margin-right: 1em;
}
