.named-value-list {
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 1em;
	margin: 0;
}

.named-value-item {
	flex: 1 0 40%;
	flex-wrap: wrap;
	padding: 1em;
}
