.notifications {
	position: fixed;
	top: 2.5em;
	right: 0.5em;
}

.notification {
	display: block;
	width: fit-content;
	color: var(--white-color);
	padding: 0.5em;
	max-width: 400px;
	margin: 1em;
	border-radius: 2px;
	box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3);
}

.notification[type="success"] {
	background: var(--success-color);
	color: var(--black-color);
}

.notification[type="warning"] {
	background: var(--warning-color);
}

.notification[type="error"] {
	background: var(--error-color);
}
