.form {
	padding: 0 2em;
}

.form-inputs {
	display: flex;
	flex-direction: column;
	align-self: stretch;
}

.form-inputs > * {
	margin: 0.5em 0;
}

.form .form-error {
	background: var(--error-color);
	color: var(--white-color);
	align-self: center;
	width: fit-content;
	max-width: 400px;
	padding: 0.5em;
	border-radius: 2px;
}

.form .form-buttons {
	margin: 1em auto;
	display: flex;
	justify-content: center;
}
