body {
	--primary-color: #219ebc;
	--primary-dark: #023047;
	--primary-light: #8ecae6;
	--secondary-color: #fb8500;
	--secondary-light: #ffb703;
	--white-color: white;
	--black-color: #030303;
	--light-grey: #dfdfdf;
	--medium-grey: #777777;
	--success-color: #99d98c;
	--warning-color: var(--secondary-light);
	--error-color: #ff5b46;
	--big-text: 22px;
	--medium-text: 18px;
	--small-text: 14px;
	--tiny-text: 12px;

	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
		sans-serif;
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: var(--small-text);
}

.center {
	text-align: center;
}

.subtitle {
	font-size: var(--medium-text);
}

.subsubtitle {
	font-size: var(--small-text);
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-item {
	margin: 0;
	padding: 1em;
	border-bottom: 2px solid var(--primary-light);
	cursor: pointer;
}

.list-item:hover {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
