.button {
	background: var(--secondary-color);
	color: var(--white-color);
	border: none;
	padding: 0.7em;
	box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.button:hover {
	box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
}

.button:active {
	box-shadow: none;
}
