.button {
	background: var(--secondary-color);
	color: var(--white-color);
	border: none;
	padding: 0.7em;
	box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	border-radius: 2px;
}

.button.tiny {
	padding: 0.2em 0.8em;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.button:hover {
	box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.3);
}

.button.tiny:hover {
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.button:active,
.button.tiny:active {
	box-shadow: none;
}
